<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Button Tap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6746092C1FDB135B00A2A960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>674609401FDB135B00A2A960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6746094B1FDB135B00A2A960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
